.podcastPlayerWrapper {
  width: 70%;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}

.audioControl {
  width: 100%;
}
.podcastPlayerWrapper__title {
  color: var(--text-primary);
}

.podcastPlayerWrapper__description {
  white-space: pre-line;
  margin: 20px 0px;
  line-height: 1.6;
  color: var(--text-secondary);
}
