.headingWrapper {
  border: 1px solid var(--border-primary);
  height: 60px;
}
.headingWrapper__link {
  color: var(--primary);
  text-decoration: none;
}
.headingWrapper__title {
  padding: 15px 0px 0px 20px;
}
