* {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary: #4169e1;
  --secondary: #484dae;
  --border-primary: #d3d3d3;
  --text-primary: #18182b;
  --text-secondary: #222231;
  --text-white: #fafafa;
  --loader: #36d7b7;
}
